{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block css %} {% endblock %}
    <title>Todo-List | {% block title %} {% endblock %}</title>
  </head>

  <body>
    <main>
      {% include 'nav.html' %}
      <!-- message component -->
      {% include 'message.html' %}

      <!-- main content of the page -->
      {% block content %} {% endblock %}
    </main>
    <script src="{% static 'js/base.js' %}"></script>
    {% block js %} {% endblock %}
  </body>
</html>
