{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block css %} {% endblock %}
    <title>Todo-List | {% block title %} {% endblock %}</title>
  </head>

  <body>
    <main>
      <!-- message component -->
      {% include 'message.html' %}

      <!-- main content of the page -->
      {% block content %} {% endblock %}
      <!-- Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Corporis pariatur, iste, neque assumenda exercitationem
      maiores odio at, nemo alias maxime quisquam! Explicabo libero fuga illo
      voluptates ratione dignissimos, consectetur nam dolor dolore, repellat
      facere, iure nulla! At doloremque facere vitae, aliquid sunt, eveniet
      animi vel corrupti repellat quos culpa fugit, cumque in voluptatum fuga
      esse assumenda. Facilis blanditiis tempora esse! -->
      <!-- link to javascrit -->
      <script src="{% static 'js/base.js' %}"></script>
      {% block js %} {% endblock %}
    </main>
  </body>
</html>
