{% extends 'base.html' %}{% load static %}
<!--  -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/todos.css' %}" />
{% endblock %}
<!-- main content of the page-->
{% block content %}
<main class="container">
<div class="page-overlay"></div>
    <!-- Todo form -->
  <div class="todo-form">
    <form id="todo-form" class="form-container " method="POST" action="">
      {% csrf_token%}
      <div class="form-control input-title">
        <label for="title">Title:</label>
        <input type="text" id="title" placeholder="Enter new Todo Title" />
      </div>
      <div class="form-control input-descrip">
        <label for="descrip">Description:</label>
        <textarea
          id="descrip"
          name="description"
          placeholder="Description"
          cols="30"
          rows="10"
        ></textarea>
      </div>
      <button type="submit">Add</button>
    </form>
  </div>


  <!-- A list of all the todos  -->
  <div class="todos-list">
    {% for todo in all_todos %}
    <div class="card">
      <div class="card-header">
        <h2>{{todo.title}}</h2>
      </div>
      <div class="card-body">
        <p>{{todo.description}}</p>
      </div>
      <div class="card-footer">
        <span>{{todo.created_date}}</span>
      </div>
    </div>

    {% endfor %}
</main>
{% endblock %}


<!-- JavaScrip for the page -->
{% block js %}
    <script src="{% static 'js/todos.js' %}"></script>
{% endblock %}
